
body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background: linear-gradient(to right, #f6f9fc, #eef2f7);
}
h4 { color: #409FDA; }
.produto {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    width: 250px;
}
